<div class="content">
    <mat-card class="card mat-elevation-z8">
        <mat-card-content class="content-card">
            <p>
                OBJETIVOS
Os portadores de doenças crônicas necessitam de um acompanhamento constante. Somente com a PREVENÇÃO é possível melhorar a qualidade de vida, eliminando riscos de morte.
Esse é o objetivo do ALERTA SAÚDE! 
Manter seu estado de saúde monitorada todo o tempo e com isso oferecer uma MELHOR QUALIDADE DE VIDA através da PREVENÇÃO!

            </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="card mat-elevation-z8">
        <mat-card-content class="content-card">
            <p>
                OBJETIVOS
Os portadores de doenças crônicas necessitam de um acompanhamento constante. Somente com a PREVENÇÃO é possível melhorar a qualidade de vida, eliminando riscos de morte.
Esse é o objetivo do ALERTA SAÚDE! 
Manter seu estado de saúde monitorada todo o tempo e com isso oferecer uma MELHOR QUALIDADE DE VIDA através da PREVENÇÃO!

            </p>
        </mat-card-content>
      </mat-card>
</div>

