<div class="colunas">
    <div class="content">
        <mat-card class="card mat-elevation-z8">
            <p>
                Estudo levantou que 52% dos brasileiros com idade a partir de 18 anos receberam, em 2019,
                algum diagnóstico de ao menos uma doença crônica. A Pesquisa Nacional de Saúde 2019 (PNS), 
                foi divulgada atualmente pelo Instituto Brasileiro de Geografia e Estatística (IBGE), em 
                parceria com o Ministério da Saúde, após entrevistar 108 mil famílias.
            </p>
        </mat-card>
    </div>
    <div class="content">
        <mat-card-content class="card mat-elevation-z8">
            <img src="../../../assets/heart.jpg" alt="">
        </mat-card-content>
    </div>
</div>

<div class="colunas">
    <div class="content">
        <mat-card class="card mat-elevation-z8">
            <p>
                De acordo com o IBGE, as doenças crônicas devem ser consideradas o maior problema de 
                saúde pública no Brasil e no mundo, uma vez que impactam casos de mortes prematuras, 
                perda de qualidade de vida, além de altos custos para a sociedade e os sistemas de saúde.
            </p>
        </mat-card>
    </div>
    <div class="content">
        <mat-card-content class="card mat-elevation-z8">
            <img src="../../../assets/heart.jpg" alt="">
            
        </mat-card-content>
    </div>
</div>

<div class="colunas">
    <div class="content">
        <mat-card class="card mat-elevation-z8">
            <mat-card-content>
                <p>
                    Estudo levantou que 52% dos brasileiros com idade a partir de 18 anos receberam, em 2019,
                    algum diagnóstico de ao menos uma doença crônica. A Pesquisa Nacional de Saúde 2019 (PNS), 
                    foi divulgada atualmente pelo Instituto Brasileiro de Geografia e Estatística (IBGE), em 
                    parceria com o Ministério da Saúde, após entrevistar 108 mil famílias.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="content">
        <mat-card-content class="card mat-elevation-z8">
            <img src="../../../assets/heart.jpg" alt="">
            
        </mat-card-content>
    </div>
</div>

