<div class="colunas">
    <div class="content">
        <mat-card class="card mat-elevation-z8">
           <h1>Sobre</h1>
           <p>
            Estudo levantou que 52% dos brasileiros com idade a partir de 18 anos 
            receberam, em 2019, algum diagnóstico de ao menos uma doença crônica. 
            A Pesquisa Nacional de Saúde 2019 (PNS), foi divulgada atualmente pelo 
            Instituto Brasileiro de Geografia e Estatística (IBGE), em parceria com
             o Ministério da Saúde, após entrevistar 108 mil famílias.
           </p>
           <p>
            De acordo com o IBGE, as doenças crônicas devem ser consideradas o maior 
            problema de saúde pública no Brasil e no mundo, uma vez que impactam casos
             de mortes prematuras, perda de qualidade de vida, além de altos custos para
              a sociedade e os sistemas de saúde.
           </p>
           <p>
            Todo ano, as doenças crônicas não transmissíveis são responsáveis por dois 
            terços das mortes no mundo. Em 2016, por exemplo, quase um milhão de brasileiros
             morreram de problemas cardiovasculares e diabetes, entre outras doenças crônicas. 
             Ou seja: não podemos apenas focar na Covid-19 e deixar de tratar estes quadros que 
             tanto afetam nossa população.
           </p>
           <p>
            Para entender melhor o cenário, o Ministério da Saúde, traçou o perfil do brasileiro
             em relação às principais doenças crônicas do país: 7,4% das pessoas tem diabetes, 24,5% 
             tem hipertensão e 20,3% estão obesos, conforme dados da pesquisa Vigitel 2019 (Vigilância 
             de Fatores de Risco e Proteção para Doenças Crônicas por Inquérito Telefônico).
           </p>
           <p>
            Durante os últimos 13 anos – período em que se iniciou esse monitoramento – o maior aumento 
            levantado se trata dos casos de obesidade, que subiu de 11,8% em 2006 para 20,3% em 2019, uma 
            significativa ampliação de 72%. Como levantamos em um artigo anterior, desse modo, 2 em cada 10
             brasileiros estão obesos e mais de 55% acima do peso.  A Vigitel demonstrou ainda que, entre 2006
              e 2019, os casos de diabetes se elevaram também, de 5,5% para 7,4%, do mesmo modo a hipertensão 
              arterial, que subiu de 22,6% para 24,5%.
           </p>

           <h3>Objetivo</h3>
           <p>
            Os portadores de doenças crônicas necessitam de um acompanhamento constante. 
                Somente com a PREVENÇÃO é possível melhorar a qualidade de vida, eliminando riscos de morte.
           </p>
           <h5>
            Nossa missão: <br>
    Manter seu estado de saúde monitorada todo o tempo e com isso oferecer uma MELHOR QUALIDADE DE VIDA através da PREVENÇÃO!

           </h5>
        </mat-card>
    </div>
    <div class="content">
        <mat-card-content class="card mat-elevation-z8">
            <h1>Valores</h1>
            <div class="cards-valores">
                <mat-card class="valor">
                    <mat-icon>check_box</mat-icon>
                </mat-card>
                <mat-card class="valor">
                    <mat-icon>thumb_up</mat-icon>
                </mat-card>
                <mat-card class="valor">
                    <mat-icon>check_circle</mat-icon>
                </mat-card>
                <mat-card class="valor">
                    <mat-icon>favorite</mat-icon>
                </mat-card>
                <mat-card class="valor">
                    <mat-icon>people_outline</mat-icon>
                </mat-card>
                <mat-card class="valor">
                    <mat-icon>check_box</mat-icon>
                </mat-card>
            </div>
          
        </mat-card-content>
    </div>
</div>


