<div class="colunas">
    <div class="content">
        <mat-card-content class="content-card">
            <p>
                Estudo levantou que 52% dos brasileiros com idade a partir de 18 anos receberam, em 2019,
                algum diagnóstico de ao menos uma doença crônica. A Pesquisa Nacional de Saúde 2019 (PNS), 
                foi divulgada atualmente pelo Instituto Brasileiro de Geografia e Estatística (IBGE), em 
                parceria com o Ministério da Saúde, após entrevistar 108 mil famílias.
            </p>
        </mat-card-content>
    </div>
    <div class="content">
        <mat-card-content class="content-card">
            <img src="../../../assets/heart.jpg" alt="">
            
        </mat-card-content>
    </div>
</div>

