<div class="content">
    <mat-card-content class="content-card">
        <p>
            ASSOCIE-SE À ÚNICA REDE DE TELEMONITORAMENTO DE SÁUDE À DISTÂNCIA NO BRASIL
            PREVINA-SE! NÃO SEJA PEGO DE SUPRESA!
            SUA SAÚDE MONITORADA 24 HORAS TODOS OS DIAS
            ALERTA SAÚDE
            Uma plataforma com Inteligência Artificial para telemonitoramento da saúde à distância
        </p>
    </mat-card-content>
</div>

<div class="content">
    <mat-card-content class="content-card">
        <p>
            Para você que é portador de alguma doença crônica e precisa de acompanhamento diário
            Associando-se ao ALERTA SAÚDE você passará a ter sua saúde monitorada, reduzindo os riscos de agravamento. 
            MAIS EM CONTA DO QUE VOCE PENSA!

        </p>
    </mat-card-content>
</div>


