<div class="div-form">

    <div class="formulario-card">
        <mat-card class="card mat-elevation-z18">
            <mat-card class="card-form">
                <mat-card-title>
                    REPRESENTANTE
                </mat-card-title>
                <mat-card-subtitle>
                    Seja um REPRESENTANTE ALERTA SAÚDE em sua cidade. Preencha o formulário e envie
                </mat-card-subtitle>
                <form class="formulario">
                    <mat-form-field >
                        <mat-label>Nome</mat-label>
                        <input matInput>
                      </mat-form-field>
                    <mat-form-field >
                        <mat-label>CPF</mat-label>
                        <input matInput>
                      </mat-form-field>
                    <mat-form-field >
                        <mat-label>Endereço</mat-label>
                        <input matInput>
                      </mat-form-field>
                      <mat-form-field>
                        <mat-label>UF</mat-label>
                        <select matNativeControl required>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                            <option value="EX">Estrangeiro</option>
                        </select>
                      </mat-form-field>
                      <mat-form-field>
                        <mat-label>Profissão</mat-label>
                        <input matInput>
                      </mat-form-field>
                      <button mat-raised-button color="primary">Enviar</button>
                  </form>
            </mat-card>
        </mat-card>

    </div>

</div>
