

  .card{
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    width: 90%;
    margin: 1rem auto;
    background-color: rgb(172, 245, 245);
    font-size: 15pt;
    display: flex;
    flex-direction: column;
    display: flex;
}

.card-form{
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  width: 50%;
  margin: 1rem auto;
  background-color: rgb(255, 255, 255);
  font-size: 15pt;
  display: flex;
  flex-direction: column;
  display: flex;
}
.formulario{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}

