<div class="div-content">

    <div class="content">
        <mat-card class="card mat-elevation-z8">
            <mat-card-title>TELEAVALIAÇÕES</mat-card-title>
            <mat-card-subtitle>
                <p>
                    Nossa PLATAFORMA DE TELEAVALIAÇÃOS LIZ é 
                    realizada em parceria com a TELEPREV SAUDE, 
                    pertencente ao mesmo grupo empresarial.
                </p>
            </mat-card-subtitle>
            <!-- <mat-card-title><h3>Nossos diferenciais são:</h3></mat-card-title> -->
            <mat-card-content class="content-card">
                <ul>
                    <li>Preços Acessíveis</li>
                    <li>Mais de 8 mil médicos especialistas</li>
                    <li>Plantão 24 horas todos os dias</li>
                    <li>Envio de Receitas e Pedidos de Exames</li>
                    <li>Retorno em até 30 dias</li>
                    <li>Monitoramento por 4 semanas sequenciais através de nossa equipe técnica</li>
                </ul>

            </mat-card-content>
          </mat-card>
    </div>

</div>
