<div class="div-content">

    <div class="content">
        <mat-card class="card mat-elevation-z8">
            <mat-card-title>TELEAVALIAÇÕES</mat-card-title>
            <mat-card-subtitle>
                <h3>
                    Nossa PLATAFORMA DE TELEAVALIAÇÃOS LIZ é 
                    realizada em parceria com a TELEPREV SAUDE, 
                    pertencente ao mesmo grupo empresarial.
                </h3>
            </mat-card-subtitle>
            <!-- <mat-card-title><h3>Nossos diferenciais são:</h3></mat-card-title> -->
            <mat-card-content class="content-card">
                <h4>Contamos com:</h4>
                <ul>
                    <li>Preços Acessíveis</li>
                    <li>Mais de 8 mil médicos especialistas</li>
                    <li>Plantão 24 horas todos os dias</li>
                    <li>Envio de Receitas e Pedidos de Exames</li>
                    <li>Retorno em até 30 dias</li>
                    <li>Monitoramento por 4 semanas sequenciais através de nossa equipe técnica</li>
                </ul>

            </mat-card-content>
          </mat-card>

          <mat-card class="card">
            <mat-card-header>
              <div mat-card-avatar class="header-image"></div>
              <mat-card-title class="tituloLiz">Oi, eu sou a Liz!</mat-card-title>
              <mat-card-subtitle>Assistente virtual da AlertaSaúde</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
               Vem conversar comigo parar cuidarmos de sua saúde
              </p>
            </mat-card-content>
            <mat-card-actions>
             <a href="https://alertasaude.com.br/" target="_blank"> <button mat-raised-button color="primary">Conheça a Liz</button></a>
            </mat-card-actions>
          </mat-card>
    </div>

</div>
