<div class="content-div">
    <div class="content">
        <div class="box mat-elevation-z8">
            <mat-card class="card ">
                <mat-card-header>
                    <mat-card-title>ASMA</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-actions>
                    <button mat-button color="button-color">Saiba mais</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="box mat-elevation-z8">
            <mat-card class="card ">
                <mat-card-header>
                    <mat-card-title>ALZHEIMER</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-actions>
                    <button mat-button color="button-color">Saiba mais</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="box mat-elevation-z8">
            <mat-card class="card ">
                <mat-card-header>
                    <mat-card-title>AVC/DERRAME CEREBRAL</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-actions>
                    <button mat-button color="button-color">Saiba mais</button>
                </mat-card-actions>
            </mat-card>
        </div>
       
        
    </div>
</div>
