<div class="content-div">
    <div class="content">
        <div class="box ">
            <mat-card class="card titulo ">
                <mat-card-title>
                    <h1>Como funciona?</h1>
                </mat-card-title>
                <mat-card-content>
                    <h4>Nossos serviços de saúde, é planejado especial e exclusivamente junto 
                        ao paciente visando as necessidades específicas de cada caso. Confira
                         abaixo todos os nossos serviços. </h4>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="content">

        <mat-card class="card banco">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <h3>Banco cadastro</h3>
            </mat-card-content>
            <mat-card-content>
                <p>
                    É formado e alimentado com os dados pessoais dos pacientes para o devido reconhecimento.
                    A forma de inserir os dados cadastrais poderá ocorrer de 02 situações distintas:
                </p>
            </mat-card-content>
            <!-- <mat-card-actions>
                    <button mat-raised-button color="primary">Banco cadastro</button>
                </mat-card-actions> -->
        </mat-card>


        <mat-card class="card banco">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <h3>Banco Anamnese</h3>
            </mat-card-content>
            <mat-card-content>
                <p>
                    É formado e alimentado com os dados pessoais dos pacientes para o devido reconhecimento.
                    A forma de inserir os dados cadastrais poderá ocorrer de 02 situações distintas:
                </p>
            </mat-card-content>
        </mat-card>


        <mat-card class="card banco">

            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <h3>Avaliação de Risco</h3>
            </mat-card-content>
            <mat-card-content>
                <p>
                    É formado e alimentado com os dados pessoais dos pacientes para o devido reconhecimento.
                    A forma de inserir os dados cadastrais poderá ocorrer de 02 situações distintas:
                </p>
            </mat-card-content>
        </mat-card>


        <mat-card class="card banco">

            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <h3>Avaliação urgente</h3>
            </mat-card-content>
            <mat-card-content>
                <p>
                    É formado e alimentado com os dados pessoais dos pacientes para o devido reconhecimento.
                    A forma de inserir os dados cadastrais poderá ocorrer de 02 situações distintas:
                </p>
            </mat-card-content>
        </mat-card>


    </div>
</div>