.nav{
    display: flex;
    flex-direction: column;
    /* border: 1px solid orange; */
    width: 100%;
}
.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 125px;
    margin-left: 0px;
    padding-left: 20px;
    padding-bottom: 5px;
}

span{   
    font-weight: bold;
    text-decoration: none;
    margin: 50px;
}

.conteudo{
    margin: 5px;
    padding: 25px;
    /* border: 1px solid green; */
}

/*div da logo*/

.nav-top-logo{
    align-items: flex-end;
    margin: 5px;
    padding: 10px;
    min-height: 600px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-image: url('../../../assets/posterEprev.jpg');
    background-size: cover;
    
}


.item-top > img{
    width: 300px;
    height: 200px;
    margin: 0px;
    padding: 0px;
}

.item-top{
    display: flex;
    height: 300px;
    padding-left: 50px;
    flex-direction: column;
    color: aliceblue;
    border: 1px solid red;
}

.item-top-buttons{
    display: flex;
    justify-content: flex-end;
    width: 70%;
}
.top-button{ 
    color: rgb(255, 255, 255);
    background-color: orange;
    border-radius: 5px;
    margin: 10px;
}

/*div dos botoes*/
.logo{
    background-image: url('../../../assets/eprev_logo-2.png');
    background-size: cover;
    padding: 0px;
    margin: 0px;
    width: 220px;
    height: 120px;
    /* border: solid 1px red; */

}
.nav-topic-buttons{
    /* border: 1px solid purple; */
    border-radius: 5px;
    background-color: rgb(12, 197, 230);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px;
    padding: 10px;
    /* padding-left: 100px; */
}

.topic-buttons, a{
    color: white;
    width: auto;
    /* font-weight: bold; */
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10pt;
    /* background-color: rgb(12, 197, 230); */
    border-radius: 5px;
}


/* cores dos botoes personalizadas */
.mat-navButtonColor{
    color: rgb(12, 197, 230);
}
.mat-topButtons{
    color: orange;
}





