<div class="pagina">
    <div class="nav">
        <mat-card class="card mat-elevation-z8">

            <div class="logo">
                <!-- <img src="../../../assets/eprev_logo.png"> -->
            </div>
            <div class="nav-topic-buttons">

                <div class="topic-buttons">
                    <button mat-button color="navButtonColor"><a routerLink="home">Home</a></button>
                </div>
                <div class="topic-buttons">
                    <button mat-button color="navButtonColor"><a routerLink="sobre">Sobre</a></button>
                </div>
                <div class="topic-buttons">
                    <button mat-button color="navButtonColor"><a routerLink="objetivos">Objetivos</a></button>
                </div>
                <div class="topic-buttons">
                    <button mat-button color="navButtonColor"><a routerLink="como-funciona">Como
                            Funciona</a></button>
                </div>
                <div class="topic-buttons">
                    <button mat-button color="navButtonColor"><a routerLink="doencas">Doenças
                            Crônicas</a></button>
                </div>
                <div class="topic-buttons">
                    <button mat-button color="navButtonColor"><a routerLink="diferenciais">Diferenciais</a></button>
                </div>
                <div class="topic-buttons">
                    <button mat-button color="navButtonColor"><a routerLink="representante">Representante</a></button>
                </div>


            </div>
        </mat-card>

        <!-- <div class="nav-top-logo">
                <div class="item-top">
                    <h2>SUA SAÚDE MONITORADA 24 HORAS TODOS OS DIAS ALERTA SAÚDE </h2>
                    <h1>Alerta Saude</h1>
                    <p>Uma plataforma com Inteligência Artificial para telemonitoramento da saúde à distância</p>
                </div>
                
                <div class="item-top-buttons">
                    <div class="top-button">
                        <button mat-raised-button color="topButtons">Quero Associar</button>
                    </div>
                    <div class="top-button">
                        <button mat-raised-button color="topButtons">Teleconsultas</button>
                    </div>
                </div>
               </div> -->
        <div class="conteudo">
            <div>
                <router-outlet></router-outlet>
            </div>
        </div>
        <div class="info">
            <div class="info-block">

            </div>
            <div class="info-block">
                <h2>
                    Encontre-nos
                </h2>
                <p>
                    <mat-icon> place</mat-icon>
                    SRTVN Bloco P, Quadra 702, Sobre loja,
                    Sala 33, Asa Norte - Brasilia DF
                    CEP: 70719-900
                </p>

                <p>
                    <mat-icon>flag</mat-icon>
                    contato@eprevesaude.com.br
                </p>

                <p>
                    <mat-icon> call</mat-icon>
                    (61) 33228-7785
                </p>

            </div>
            <div class="info-block">
                <h2>Recomendamos</h2>
                <ul>
                    <li><mat-icon>arrow_forward</mat-icon> O Alerta Saúde</li>
                    <li><mat-icon>arrow_forward</mat-icon>Política de Privacidade</li>
                    <li><mat-icon>arrow_forward</mat-icon>Parceiros</li>
                </ul>

            </div>
        </div>
        <div id="rodape">
            <h4>
                © Alerta Saúde - Todos os direitos reservados Desenvolvido por: @MatheusBrito21
            </h4>
        </div>
    </div>
</div>