<div class="nav">
    <div class="nav-top-logo">
    
                <div class="item-top">
                    <img src="../../../assets/eprev_logo.png">
                    <div>
                        <span>
                           (telefone/zap) xxxxxxxxxx  Endereço: 
                        </span>     
                    </div>
                </div>

                <div class="item-top-buttons">
                    <div class="top-button">
                        <button mat-raised-button color="primary">Quero Associar</button>
                    </div>
                    <div class="top-button">
                        <button mat-raised-button color="primary">Agendar Consultas</button>
                    </div>
                        
                      
                </div>
    
    </div>

    <div class="nav-topic-buttons">

        <div class="topic-buttons">
            <button mat-raised-button color="primary"><a routerLink="sobre">Sobre</a></button>
        </div>
        <div class="topic-buttons">
            <button mat-raised-button color="primary"><a routerLink="sobre">Objetivos</a></button>
        </div>
        <div class="topic-buttons">
            <button mat-raised-button color="primary"><a routerLink="sobre">Como Funciona</a></button>
        </div>
        <div class="topic-buttons">
            <button mat-raised-button color="primary"><a routerLink="sobre">Doenças Crônicas</a></button>
        </div>
        <div class="topic-buttons">
            <button mat-raised-button color="primary"><a routerLink="sobre">Diferenciais</a></button>
        </div>
        <div class="topic-buttons">
            <button mat-raised-button color="primary"><a routerLink="sobre">Sobre</a></button>
        </div>
        <div class="topic-buttons">
            <button mat-raised-button color="primary"><a routerLink="sobre">Representante</a></button>
        </div>
             
        
    </div>

    <div class="conteudo">
        <div>
            <router-outlet></router-outlet>
        </div>
        
    </div>
</div>